body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.custom-table {
    background-color: rgba(0, 0, 0, 0.85) ; /* negro con opacidad */
}

.custom-table th,
.custom-table td {
    color: white ;
    background-color: transparent ;
}

.custom-table thead th {
    border-color: #ff0000 ;
}

.custom-table tbody tr {
    border-color: #ff0000 ;
}
.btn-custom {
    background-color: #b8860b;
    color: white;
    border: none;
}

.btn-custom:hover {
    background-color: #d4af37;
}

.form-group label{
    color: #b8860b;
    font-size: 18px;
    font-weight: bold;
}




.custom-ul{  /* Espacio de perfil*/
    margin-bottom: 40vh;

}
.dropdown-menu .dropdown-item { /* color de los items del menu de perfil*/
    width: 100%;
    display: block;
    padding: 10px 16px;
    color: #212529;
    transition: background-color 0.3s ease, color 0.3s ease;
}
.custom-drop{ /* Espacio dentro de  perfil*/
    padding-top: 0;
    padding-bottom: 0;
}
.custom-hr{ /* cambio de linea*/
    margin: 0;
    padding: 0;
}
.custom-a:hover{/* hover de settings y profile*/
    background-color: #c1c1c1 !important; /* Fondo rojo */
    color: #000000 !important; /* Texto blanco */
    border-radius: 5px;
}
.custom-li:hover {/* color de cerrar sesion*/
    background-color: #dc3545 !important; /* Fondo rojo */
    color: #fff !important; /* Texto blanco */
    border-radius: 5px;
}

