body{
    background-color: #000;
}

.underline{
    width: 100%;
    height: 5px;
    background-color: #C9A14B;
}
.nav-imagen{
    margin: 0;
    padding: 0;
    width: 200px;
}
.imagen{
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
}

